{% extends "base.html" %}
{% load static %}

{% block title %}
    My blog
{% endblock  %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock  %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/vasil.jpg" %}" alt="Vasil - The Author of this Blog">
            <h2>VASIL'S BLOG</h2>
        </header>
        <p>Hi, I'm Vasil and I'm learning to use Django by doing this Blog!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% for post in all_posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do?</h2>
        <p>
            I'm a recent graduate, from RGU UK and currently I'm trying to land a job, hopefully it would be as enjoyable as all the courses that I'm doing
        </p>
        <p>
            My goal is to find a place where I would be able to find friends, people with similar mindset to fine and experienced developers from which I would be able to learning
        </p>
    <section>
{% endblock  %}